/* Navbar */
body{
    background-color: paleturquoise;
}
#navbar{
    border: 3px solid rebeccapurple;
    background-color: grey;
    height: 40px;
    overflow: hidden;
}
#navbar ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li a{
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;

}

#navbar a:hover{
    background-color: green;
}

#navbar a:active{
    background-color: #04AA6D;
  color: green;
}

/* body */
body{
    
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: #04AA6D;
    
}
#myForm table{
    padding: 50px;
    border: 1px solid green;
    margin: auto;
    background-color: palegoldenrod;
}

#boxDOM {
    width: 200px;
    height: 50px;
    background-color: red;
    position: relative;
    margin-bottom: 20px;
    color: white;
  }
  
#animateButton{
    background-color: purple;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    margin: auto;
}
